.searchButton {
    display: block;
    position: relative;
    margin-top: 40px;
    margin-left: 70px;
    width: 166px;
    height: 56px;
    border: none;
    border-radius: 200px;
    background-color: #E44848;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5%;
    color: #FFFFFF;
}

.searchButton:hover {
    background-color: #D84343;
}

.catalog {
    display: flex;
    gap: 40px;
}

.catalog>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trucksRight {
    flex: 1;
}

.loadMoreButton {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-left: 170px;
    width: 145px;
    height: 56px;
    border: 1px solid #DADDE1;
    border-radius: 200px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5%;
    color: #101828;
}

.loadMoreButton:hover {
    border: 1px solid #E44848;
}