.card {
    position: relative;
    width: 888px;
    height: 368px;
    border: 1px solid #DADDE1;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 30px;
}

.imageWrapper img {
    width: 292px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
}

.truckName h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #101828;
    margin-left: 24px;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price h2 {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #101828;
    margin-left: 300px;
}

.price button {
    display: flex;
    width: 26px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-left: 400px;
}

.price img {
    width: 26px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    position: absolute;
    top: 25px;
    left: 870px;
    z-index: 10;
}

.rating img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 70px;
    left: 330px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
}

.rating p {
    position: absolute;
    top: 70px;
    left: 350px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
}

.location {
    position: absolute;
    top: 70px;
    left: 480px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
}

.truckDescr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #475467;
    position: absolute;
    top: 110px;
    left: 330px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featuresUl {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);       
    position: absolute;
    padding-top: 10px;
    gap: 8px;
    align-items: center;
    list-style: none;
    padding: 150px;
    margin-left: -675px;
}

.featuresUl li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 6px 12px;
    border: none;
    background-color: #F2F4F7;
    border-radius: 100px;
    margin: 4px;
}

.showMore {
    display: block;
    position: relative;
    margin-top: 330px;
    left: -775px;
    border: none;
    border-radius: 200px;
    min-width: 166px;
    height: 56px;
    background-color: #E44848;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5%;
    color: #FFFFFF;
}

.showMore:hover {
    background-color: #D84343;
}