.bgPicture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background: url("../../assets/Picture.png");
    z-index: 1;
}

.homeTitle {
    position: absolute;
    top: 330px;
    margin-left: 64px;
    font-weight: 600;
    font-size: 48px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #F7F7F7;
    z-index: 2;
}

.homeDescr {
    position: absolute;
    top: 380px;
    margin-left: 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #F7F7F7;
    z-index: 2;
}

.viewButton {
    display: block;
    position: relative;
    top: 380px;
    margin-left: 64px;
    width: 173px;
    height: 56px;
    border: none;
    border-radius: 200px;
    background-color: #E44848;
    cursor: pointer;
    z-index: 2;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5%;
    color: #FFFFFF;
    z-index: 2;
}

.viewButton:hover {
    background-color: #D84343;
}